<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Info:</h1>

  <p>Name <%= interfaceName %></p>
  <p>IP <%= info.address %></p>

</body>
</html>
